# PLATFORM BACKEND
JWT_KEY=secret
MONGO_URI=mongodb://127.0.0.1:27017?replicaSet=rs0# replicaSet=rs0 is important because we use transactions
PORT=4445
FRONTEND_RELATIVE_PATH="./public/frontend"# (platform) to be served when accessing /
PLATFORM_BUILD_DEST=/Users/

# PLATFORM FRONTEND
PLATFORM_FRONT_BUILD_DEST=/Users/

# STATION BACKEND
URI_PREFIX=http#for key registration (what protocol before the path)
KEY_PATH=localhost:1337/k# for key registration (what path before the id)
STATION_BUILD_DEST=/Users/

# STATION FRONTEND
STATION_FRONT_BUILD_TEST=/Users/

# MISC
VITE_PLATFORM_BASE_URL=http://localhost:4445/api